@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* ================= LIGHT ================= */
:root {
  /* Базовые цвета */
  --color-bg-primary: #ebebeb;
  --color-text-primary: #121212;

  --color-bg-secondary: #e0e0e0;
  --color-text-secondary: #1f1f1f;

  --color-bg-tertiary: #d6d6d6;
  --color-bg-tertiary-off: #d6d6d600;

  --color-text-tertiary: #3d3d3d;

  --color-text-inverted: #ebebeb;

  --color-surface: #e0e0e0;
  --color-surface-hover: #d6d6d6;

  --color-accent: #4dbd58;
  --color-accent-hover: #3da447;
  --color-accent-light: #79cd81;

  --color-border: #e0e0e0;
  --color-border-strong: #a6dda9;
  --color-border-focus: #4dbd58;

  --color-success: #4dbd58;
  --color-error: #8a0000;
  --color-warning: #ffb20b;

  --shadow-sm: 0 1px 3px rgb(0 0 0 / 0.12);
  --shadow-md: 0 6px 12px -4px rgb(0 0 0 / 0.15);
  --shadow-lg: 0 12px 24px -8px rgb(0 0 0 / 0.2);

  --ring: #4dbd58;

  --sidebar-width: 220px;

  --header-height: 100px;
}

/* ================= DARK ================= */
html.dark {
  --color-bg-primary: #121212;
  --color-text-primary: #ebebeb;

  --color-bg-secondary: #1f1f1f;
  --color-text-secondary: #e0e0e0;

  --color-bg-tertiary: #292929;
  --color-bg-tertiary-off: #29292900;

  --color-text-tertiary: #c2c2c2;

  --color-text-inverted: #292929;

  --color-surface: #1f1f1f;
  --color-surface-hover: #292929;

  --color-accent: #4dbd58;
  --color-accent-hover: #3da447;
  --color-accent-light: #79cd81;

  --color-border: #1f1f1f;
  --color-border-strong: #0b1e0c;
  --color-border-focus: #4dbd58;

  --color-success: #4dbd58;
  --color-error: #cc1313;
  --color-warning: #ffc20b;

  --shadow-sm: 0 1px 3px rgb(50 50 50 / 0.2);
  --shadow-md: 0 6px 12px -4px rgb(50 50 50 / 0.3);
  --shadow-lg: 0 12px 24px -8px rgb(50 50 50 / 0.4);

  --ring: #4dbd58;
}
/* ================= TAILWIND ================= */
@theme inline {
  --color-bg-primary: var(--color-bg-primary);
  --color-text-primary: var(--color-text-primary);

  --color-bg-secondary: var(--color-bg-secondary);
  --color-text-secondary: var(--color-text-secondary);

  --color-bg-tertiary: var(--color-bg-tertiary);
  --color-text-tertiary: var(--color-text-tertiary);

  --color-text-inverted: var(--color-text-inverted);

  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);

  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);
  --color-accent-light: var(--color-accent-light);

  --color-border: var(--color-border);
  --color-border-strong: var(--color-border-strong);
  --color-border-focus: var(--color-border-focus);

  --color-success: var(--color-success);
  --color-error: var(--color-error);
  --color-warning: var(--color-warning);

  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);

  --ring: var(--ringg);
}

/* ================= BASE ================= */
body {
  @apply bg-bg-primary text-text-primary;
}

/* * {
  border-color: var(--border);
} */

.button {
  @apply px-2 py-1 rounded-md cursor-pointer;
}

.page-header {
  @apply h-(--header-height) md:h-10;
}

.main-div {
  @apply flex flex-col md:grid md:grid-rows-[var(--header-height)_auto_1fr] gap-4 md:gap-3 w-full mb-15 md:mb-0;
}

.shimmer {
  background: linear-gradient(105deg, var(--color-accent-light) 0%, var(--color-accent-hover) 50%, var(--color-accent-light) 100%);
  background-size: 200% 100%;
  animation: shimmer 0.8s infinite;
}
.spin {
  animation: spin 1s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.focus {
  @apply focus:outline-0 focus:ring-1 focus:ring-(--ring)  focus:ring-offset-0;
}

@keyframes pulseGlow {
  0%,
  100% {
    box-shadow: 0 0 0px var(--color-warning);
  }
  50% {
    box-shadow: 0 0 5px var(--color-warning);
  }
}
